body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    margin: 50px;
    overflow: hidden;
    gap: 3em;
}

controls {
    display: flex;
    justify-content: center;
    gap: 1em;
}

controls label {
    padding: 15px 25px;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    user-select: none;
}

controls input[type="radio"] {
    display: none;
}
controls input[type="radio"]:checked + label {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/***************************************************/
controls label.starter {
    background-color: #4CAF50;
}

controls label.starter:hover,
controls label.starter:focus,
controls input[type="radio"]:checked + label.starter{
    background-color: #3e8e41
}
/***************************************************/
controls label.junior {
    background-color: #af964c;
}

controls label.junior:hover,
controls label.junior:focus,
controls input[type="radio"]:checked + label.junior{
    background-color: #8e713e
}
/***************************************************/
controls label.expert {
    background-color: #b14141;
}

controls label.expert:hover,
controls label.expert:focus,
controls input[type="radio"]:checked + label.expert{
    background-color: #863131
}
/***************************************************/
controls label.master {
    background-color: #3746af;
}

controls label.master:hover,
controls label.master:focus,
controls input[type="radio"]:checked + label.master{
    background-color: #273786
}


game-area {
    user-select: none;
    position: relative;
    background: radial-gradient(#EFEFEF, #C0C0C0);
    border: #2F4F4F solid 1rem;
    border-radius: 5%;
    line-height: 0;
    width: 70vmin;
    height: 70vmin;
}

game-area > * {
    position: absolute;
    inset: 0;
}

game-area cells img {
    aspect-ratio: 1 / 1;
}

game-area pieces img {
    position: absolute;
}

.piece {
    clip-path: ellipse(15% 34% at 14.62% 50%);
    opacity: 1;
    transition: opacity .3s ease;
}

.target {
    clip-path: polygon(38% 18%, 57.5% 50%, 38% 82%);;
}

.piece:hover {
    opacity: 0.5;
}
